@import url(./common.css);

/* -------------------------------------------HEADER--------------------------------------- */

.header {
    padding-top: 27px;
    padding-bottom: 27px;
}

.logo svg path {
    transition: all .5s linear;
}

.logo:hover svg path.vector {
    fill: #161513;
}

.logo:hover svg path.word {
    fill: #E94D35;
}

.nav-link {
    font-size: 16px;
    line-height: 1.5;
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    transition: all .3s linear;
}

.header .nav-link:hover::after {
    left: 50%;
    width: 0;
}

.button {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 26px;
    border: 1px solid var(--font-color);
    transition: all .5s linear;
}

.button:hover {
    color: var(--primary-color);
    background-color: var(--font-color);
}


/* ----------------------------------------FIRST-SCREEN--------------------------------------------- */

.first-screen {
    padding-top: 40px;
    padding-bottom: 47px;
}

.descr-box {
    width: 100%;
    max-width: 674px;
}

.image-box {
    width: 100%;
    max-width: 562px;
}

.first-screen-head {
    font-size: 56px;
    line-height: 1.14;
    font-weight: 400;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.first-screen-directions {
    font-size: 23px;    
    line-height: 1.39;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 40px;
}

.question {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 38px;
    background-color: var(--font-color);
    color: var(--color-white);
}

.bigger {
    padding: 12px 39px;
}

/* ----------------------------------------SECTION-INCLINE-------------------------------------------- */

.incline{
    padding-top: 60px;
    padding-bottom: 60px;
}

.incline-wrapper {
    background-color: var(--font-color);
    color: var(--color-white);
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: rotate(-5deg);
    width: calc(100vw + 4%);
    margin-left: -2%;
    padding-left: 30px;
}

.incline-directions {
    white-space: nowrap;
}

/* ----------------------------------------SECTION-ABOUT------------------------------- */

.about {
    padding-top: 123px;
    padding-bottom: 119px;
}


.left-text {
    width: 100%;
    max-width: 408px;
}

.name {
    font-size: 23px;    
    line-height: 1.39;
    letter-spacing: 0.48px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.position {
    font-size: 56px;
    line-height: 1.14;
    letter-spacing: 0.56px;
}

.right-text {
    width: 100%;
    max-width: 612px;
}

.top-text {
    font-size: 31px;
    line-height: 1.29;
    letter-spacing: 0.64px;
    margin-bottom: 36px;
}

.bottom-text {
    margin-bottom: 27px;
}

.about-data-item {
    width: 100%;
    max-width: 148px;
}

.about-data-item-head {
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 9px;
}

.about-data-item-value {
    font-size: 23px;    
    line-height: 1.39;
    letter-spacing: 0.48px;
}

.achievement-item {
    width: 100%;
    max-width: 33.33%;
}

.achievement-value {
    font-size: 56px;
    line-height: 1.14;
}

.achievement-text {
    font-size: 16px;
    line-height: 2;
    text-transform: uppercase;
}

/* ----------------------------------------SECTION-AWARDS------------------------------- */

.section-title-header {
    font-size: 45px;
    line-height: 1.24;
    letter-spacing: 1.44px;
    font-weight: 400;
}

.section-title-descr {
    text-transform: uppercase;
    letter-spacing: 1.44px;
}

.award-item {
    padding: 38px 34px;
}

.award-left-position {
    background-color: var(--secondary-color);
    color: var(--color-white);
    width: 100%;
    max-width: 48px;
    line-height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.award-name {
    font-size: 23px;    
    line-height: 1.39;
    letter-spacing: 0.48px;
}

.award-right {
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
}

/*-------------------------------------------SECTION-PORTFOLIO----------------------------------------------*/

.portfolio-img {
    width: 100%;
    max-width: 460px;
}

.portfolio-direction {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--color-white);
    line-height: 32px;
    padding: 4px 18px 4px 12px;
    text-transform: uppercase;
}

.read-more {
    font-size: 20px;
    line-height: 1.6;
    transition: all .7s ease;
    position: relative;
}

.read-more::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--secondary-color);
    transition: all 0.7s ease;
}

.read-more:hover {
    color: var(--secondary-color);
}

.read-more:hover::after {
    width: 100%;
}

/*-------------------------------------------SECTION-SERVICES----------------------------------------------*/

.service-item {
    width: 100%;
    max-width: 510px;
    padding-top: 34px;
    padding-left: 34px;
    padding-bottom: 30px;
}

.service-header {
    font-size: 31px;
    line-height: 1.29;
    font-weight: 400;
    margin-bottom: 28px;
}

/*-------------------------------------------SECTION-CUSTOMERS----------------------------------------------*/

.customer-item {
    width: 100%;
    max-width: 241px;
    min-height: 98px;
}

/*-------------------------------------------SECTION-CUSTOMERS----------------------------------------------*/

.articles {
    position: relative;
}

.article-item {
    padding-left: 34px;
    padding-right: 34px;
}

.article-left {
    width: 100%;
    max-width: 456px;
    padding-bottom: 12px;
}

.article-props {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1.28;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.separator {
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
}

.article-header {
    font-size: 23px;    
    line-height: 1.39;
    letter-spacing: 0.48px;
    font-weight: 400;
}

.article-promo {
    font-size: 16px;
    line-height: 1.5;
}

.browse-articles {
    display: inline-block;
    width: 100%;
    background-color: var(--font-color);
    color: var(--color-white);
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    padding-top: 12px;
    padding-bottom: 14px;
    transition: all .7s ease-out;
}

.browse-articles:hover {
    background-color: var(--secondary-color);
}

.moxa-big {
    position: absolute;
    right: 0px;
    bottom: 84px;
}

/*-------------------------------------------FOOTER----------------------------------------------*/

.footer {
    background-color: var(--color-gray);
}

.footer-top {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-form-input {
    min-width: 354px;
    outline: none;
    font-family: 'BaiJamjuree';
    background-color: var(--color-gray);
    padding-left: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer-form-input::placeholder {
    color: var(--font-color);
}

.footer-right-col {
    width: 100%;
    max-width: 50%;
}

.email-input {
    display: inline-block;
}

.footer-form-btn {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: 'BaiJamjuree';
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 22px;
    transition: all .7s ease-out;
}

.footer-form-btn:hover {
    background-color: var(--secondary-color);
}

.footer-logo svg path {
    transition: all .5s linear;
}

.footer-logo:hover svg path.moxa-footer {
    fill: #E94D35;
}

.footer-bottom {
    background-color: var(--font-color);
    padding-top: 66px;
    padding-bottom: 26px;
}

.footer-nav {
    color: var(--color-white);
}

.footer-nav-link {
    position: relative;
}

.footer-nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--color-white);
    transition: all .3s linear;
}

.footer-nav-link:hover::after {
    left: 0;
    width: 100%;
}

.summary {
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-white);
}

.summary-link {
    transition: all .7s ease;
}

.summary-link:hover {
    color: var(--secondary-color);
}

.social-link svg path.inner-svg,
.social-link svg path.circle-svg {
    transition: all .4s linear;
}

.social-link:hover svg path.circle-svg {
    stroke: #E94D35;
}

.social-link:hover svg path.inner-svg {
    fill: #E94D35;
}

