* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

body {
    background: #e5e5e5;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 1100px;
    background: #c4c4c4;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    background: #e6e6e6;
    margin-bottom: 50px;
}

.rectangle {
    display: inline-block;
    background: #fc8f8f;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.big {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 64px;
}

.small {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 36px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.margined {
    margin-right: 15px;
}

.last {
    margin: 0;
}

.remove-inline{
    margin-left: -4px;/* Дякую за статтю Загадкові відступи між інлайн-блоками  */
}

