* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: calc(1110px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.login-screen {
    background: url('../images/aston-martin-valhalla.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.registration-screen {
    background: url('../images/bugatti-chiron.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.search-screen {
    background: url('../images/maserati-granturismo-folgore.jpg');
    min-height: 100vh;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(46, 13, 66, .8);
    padding: 30px 60px; 
}

form.search-form {
    max-width: 900px;
}

fieldset {
    margin-top: 25px;
    padding-top: 20px;
}

legend {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

label,
input,
select {
    display: block;
    min-width: 100%;
    margin: 0 auto;
    outline: none;
}

.search-label {
    display: inline-block;
    min-width: 45%;
    margin-left: 25px;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    min-width: 5%;
}

label,
legend {
    color: #fff;
}

input,
select {
    border: none;
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

.pass-advise{
    font-size: 11px;
    color: #fff;
    display: block;
}

button {
    background-color: #eec010;
    color: #fff;
    outline: none;
    border: none;
    font-size: 20px;
    display: block;
    padding: 5px 15px;
    min-width: 40%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 40px;
}

